In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('litres_scraper/books.csv')

1. Выведите первые 5 строк датасета. (0.25). Сколько в нём строк и столбцов (0.25)?

In [3]:
df.head()

,name,author,link,rating,rating_count,review_count,pages_count,price,text_reviews,age,year
0,Изучаем DDD – предметно-ориентированное проект...,Влад Хононов,https://www.litres.ru/book/vlad-hononov/izucha...,0,NaN,1,319.0,549.0,"Эта книга из той лиги, в которой я пока не сос...",0+,2022.0
1,Создай свой VPN. Безопасное использование инте...,Джейд Картер,https://www.litres.ru/book/dzheyd-karter/sozda...,"5,0",243.0,8,280.0,690.0,Нашел в книге решение своей ошибки. В общем дл...,12+,2024.0
2,Разработка сложных отчетов в «1С:Предприятии 8...,Е. Ю. Хрусталева,https://www.litres.ru/book/e-u-hrustaleva/razr...,0,NaN,0,485.0,490.0,NaN,12+,2024.0
3,1С:Предприятие 8.3. Практическое пособие разра...,Е. Ю. Хрусталева,https://www.litres.ru/book/e-u-hrustaleva/1s-p...,"4,5",72.0,15,983.0,180.0,Книга супер!!! Даю проверенный совет. Прошла к...,12+,2023.0
4,C++20 для программистов (pdf+epub),"Пол Дейтел, Харви Дейтел",https://www.litres.ru/book/pol-deytel/c-20-dly...,0,NaN,0,1056.0,699.0,NaN,16+,2022.0

In [4]:
df.shape

(2840, 11)

2. Есть ли в датасете пропуски? (0.5)

In [5]:
df.isnull().sum()

name               0
author           359
link               0
rating             0
rating_count    1192
review_count       0
pages_count      110
price             57
text_reviews    1758
age                0
year             657
dtype: int64

3. Проверьте типы данных. Если это необходимо, приведите к типам int и float те столбцы, с которыми понадобится работать как с числами. (1).

In [6]:
df.dtypes

name             object
author           object
link             object
rating           object
rating_count    float64
review_count      int64
pages_count     float64
price           float64
text_reviews     object
age              object
year            float64
dtype: object

In [7]:
df['rating'] = df['rating'].str.replace(",", ".", regex=False)
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')
df['rating_count'] = pd.to_numeric(df['rating_count'], errors='coerce',  downcast='integer')
df['review_count'] = pd.to_numeric(df['review_count'], errors='coerce',  downcast='integer')
df['pages_count'] = pd.to_numeric(df['pages_count'], errors='coerce',  downcast='integer')
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [8]:
df.dtypes

name             object
author           object
link             object
rating          float64
rating_count    float64
review_count       int8
pages_count     float64
price           float64
text_reviews     object
age              object
year            float64
dtype: object

4. Выведите описательные статистики переменных. Ответьте на следующие вопросы:

* Какая медианная цена книги в вашем датасете? (1)  
* Какое возрастное ограничение встречается чаще всего? (1)  
* Какое среднее число отзывов в книге? (1)  
* Сколько книг имеют оценку ниже 4.25? (1)  
* В каком году было написано больше всего книг из датасета? (1)

In [9]:
median_price = df['price'].median()
median_price

np.float64(192.0)

In [10]:
most_common_age = df['age'].mode()[0]
most_common_age

'0+'

In [11]:
average_review_count = df['review_count'].mean()
average_review_count

np.float64(1.171830985915493)

In [12]:
books_below_425 = df[df['rating'] < 4.25].shape[0]
books_below_425

1999

In [13]:
most_common_year = df['year'].mode()[0]
most_common_year

np.float64(2023.0)

5. Если вы работаете с готовым датасетом, то попробуйте "достать" из столбца pages количество страниц. Если у вас не получилось, то далее при определении числа страниц пользуйтесь стольцов pages_count. Если вы парсили датасет сами, то вы получаете балл за этот пункт автоматически (1.5)

pass

6. Создайте новое поле is_popular. Значение равно 1, если рейтинг книги не менее 4.6 и при этом у нее не менее 5 отзывов, и 0 в остальных случаях. (1)

In [14]:
df['is_popular'] = ((df['rating'] >= 4.6) & (df['rating_count'] >= 5)).astype(int)
df[['is_popular']]

      is_popular
0              0
1              1
2              0
3              0
4              0
...          ...
2835           0
2836           0
2837           0
2838           0
2839           0

[2840 rows x 1 columns]

7. Как отличается среднее число страниц среди популярных и непопулярных книг? (2)

In [15]:
mean_pages = df.groupby('is_popular')['pages_count'].mean()
mean_pages

is_popular
0    326.250294
1    358.762431
Name: pages_count, dtype: float64

8. Выведите топ-10 книг по числу отзывов. (2).

In [16]:
top_10_books_by_reviews = df.sort_values(by='review_count', ascending=False).head(10)
top_10_books_by_reviews['text_reviews'][478]

KeyError: 478

9. Найдите среднюю длину отзыва (в символах). (2)

In [ ]:
df['text_reviews'] = df['text_reviews'].apply(lambda x: x.split('.,') if isinstance(x, str) else [])

In [ ]:
df['review_lengths'] = df['text_reviews'].apply(lambda reviews: [len(review.strip()) for review in reviews])
total_review_lengths = df['review_lengths'].explode().dropna()
average_review_length = total_review_lengths.mean()
average_review_length

10. Постройте таблицу корреляций числовых переменных. (1) Прокомментируйте результаты. (1)

In [ ]:
numeric_columns = df.select_dtypes(include=['float64', 'int64'])
correlation_table = numeric_columns.corr()
correlation_table

- Маленькая кореляция между рейтингом и количеством оценок
- Чем больше оценок, тем больше отзывов

11. Постройте диаграмму рассеяния (scatterplot) количества страниц и количества отзывов. Не забудьте подписать график и оси. (1) Прокомментируйте полученные результаты. (1)

In [ ]:
plt.figure(figsize=(10, 6))
plt.scatter(df['pages_count'], df['review_count'], alpha=0.5)

plt.title("Диаграмма рассеяния: Количество страниц и количество отзывов")
plt.xlabel("Количество страниц")
plt.ylabel("Количество отзывов")

plt.show()

- Чёткой зависимости нет
- Большинство книг менее 600 страниц

12. Постройте линейный график: по оси Х год, по оси Y количество книг. (1) Прокомментируйте. (1)

In [ ]:
books_per_year = df['year'].value_counts().sort_index()

plt.figure(figsize=(10, 6))
plt.plot(books_per_year.index, books_per_year.values, marker='o', linestyle='-', color='b')
plt.title('Количество книг по годам', fontsize=14)
plt.xlabel('Год', fontsize=12)
plt.xticks(rotation=45)
plt.ylabel('Количество книг', fontsize=12)
plt.grid(True)
plt.show()

- В 2019 начало выпускаться сильно больше книг
- Росло относительно линейно с неким спадом в 2015-2016
- 2024 ещё не закончился, поэтому о спаде говорить рано

12. Постройте еще любые два графика по вашему усмотрению. (2) Прокомментируйте полученные результаты. (1.5)

In [ ]:
age_distribution = df['age'].value_counts()

plt.figure(figsize=(8, 6))
age_distribution.plot(kind='bar', color='c')
plt.title('Распределение книг по возрастным ограничениям', fontsize=14)
plt.xlabel('Возрастное ограничение', fontsize=12)
plt.ylabel('Количество книг', fontsize=12)
plt.xticks(rotation=45)
plt.grid(True, axis='y')
plt.show()

- Большинство книг 0+

In [ ]:
plt.figure(figsize=(8, 6))
plt.scatter(df['price'], df['review_count'], alpha=0.7, color='m')
plt.title('Диаграмма рассеяния: Цена книги и количество отзывов', fontsize=14)
plt.xlabel('Цена (руб.)', fontsize=12)
plt.ylabel('Количество отзывов', fontsize=12)
plt.grid(True)
plt.show()

- На книги до 1000 рублей почти всегда есть 5-10 отзывов
- На дорогие книги почти нет отзывов

13. Постройте таблицу с авторами книг с именем автора, количество книг в датасете, средней оценкой книг, средним количеством отзывов. (2).

In [ ]:
author_stats = df.groupby('author').agg(
    num_books=('name', 'count'),
    avg_rating=('rating', 'mean'),
    avg_review_count=('review_count', 'mean')
).reset_index()
author_stats

14. Что еще интересного можно увидеть в этом датасете? Просмотрите на данные и ответьте на какие-нибудь вопросы, на которые не ответили в предыдущим пункте. Мы никак не ограничиваем вашу фантазию! (3).

- Гипотеза: Книги с большим количеством отзывов стоят дороже

In [ ]:
sns.scatterplot(data=df, x='review_count', y='price', hue='rating', palette='coolwarm')
plt.title('Количество отзывов и цена в зависимости от рейтинга')
plt.xlabel('Количество отзывов')
plt.ylabel('Цена')
plt.show()

Не подтвердилась

- Гипотеза: Популярные книги имеют высокий рейтинг

In [ ]:
sns.scatterplot(data=df, x='rating', y='review_count')
plt.title('Рейтинг vs Количество отзывов')
plt.xlabel('Рейтинг')
plt.ylabel('Количество отзывов')
plt.show()

df[['rating', 'review_count']].corr()

В целом, подтвердилась